<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Juan E. Kipes Blog</title>


  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600" rel="stylesheet" type="text/css">
  <!--<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'>-->
<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
   {% if site.google_analytics %} {% include google-analytics.html %} {% endif %}
   {% if site.tags != "" %} {% include collect-tags.html %} {% endif %}
   {% seo %}
</head>
