<div id="pager" class="container">
  <div class="row">
    <div class="col text-center">
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
          <a class="btn btn-primary" href="{{ site.baseurl }}/">&larr;&nbsp;Siguiente</a>
        {% else %}
          <a class="btn btn-primary" href="{{ site.baseurl }}/page{{paginator.previous_page}}/">&larr;&nbsp;Siguiente</a>
        {% endif %}
      {% else %}
        <a class="disabled btn btn-primary">&larr;&nbsp;Newer posts</a>
      {% endif %}

      {% if paginator.next_page %}
        <a class="btn btn-primary" href="{{ site.baseurl }}/page{{paginator.next_page}}/">Anterior&nbsp;&rarr;</a>
      {% else %}
        <a class="disabled btn btn-primary">Anterior&nbsp;&rarr;</a>
      {% endif %}
    </div>
  </div>
</div>
