#post {
  h1, h2, h3, h4 {
    color: $primary;
    padding-top: 10px;
  }
}
.mbtablestyle {
        border-collapse: collapse;

   > table, td, th {
        border: 1px solid black;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 2px;
        padding-right: 2px;
        }
  >  table, th {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color:$primary;
    color: white;
  }

}
