---
layout: default
comments: true
---
<div id="post" class="container pt-3">
  <div class="row">
    <div class="col">
      <p class="lead text-info">
        {{ page.date | date: "%b %-d, %Y" }}
        <span>&nbsp</span>
        <span>
        {% for tag in page.tags %}
          {% capture tag_name %}{{ tag }}{% endcapture %}
          <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>#{{ tag_name }}</nobr></code></a>
        {% endfor %}
      </span>
      </p>
      <h1>{{ page.title }}</h1>
      <article>
        {{ content }}
      </article>
    </div>
  </div>
  {% if site.disqus.shortname %}
    {% include disqus-comments.html %}
  {% endif %}
</div>
